html,
body,
#root,
#root > div {
  height: 100%;
}

.error-message {
  display: block;
  opacity: 0;
  transform: translateY(-10px);
  animation: slideIn 0.2s ease-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
